# Configuración del Nodo de Blockchain
RPC_URL=http://127.0.0.1:8545

# Dirección del Contrato Inteligente
CONTRATO_TOKEN=

# Cuentas de Prueba
# Cuenta #0 (Dueño y Creador)
CUENTA_DUEÑA=
CLAVE_PRIVADA_CREADOR=

# Cuenta #1 (Destinatario)
BILLETERA_AMIGO=
